<div *ngIf="product.name" class="card">
    <img *ngIf="product.imageURL" class="card-img-top" [src]="product.imageURL" alt="{{ product.name }}">
    <div class="card-body">
      <h4 class="card-title">{{ product.name }}</h4>
      <p class="card-text">{{ product.price | currency:'USD':true }}</p>
      <p class="card-text">{{ product.description }}</p>
    </div>
    <div class="card-footer">
      <a *ngIf="showActions" href="#" class="btn btn-primary btn-block">Add to Cart</a>
    </div>
  </div>    
  
