<div class="row sticky-top">
  <div class="col-6">
    <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          [class.active]="!groupId"
          routerLink="/"
          >All category groups</a>
        <a 
          *ngFor="let g of groups$ | async" 
          routerLink="/"
          [queryParams]="{ group: g.id }"
          class="list-group-item list-group-item-action"
          [class.active]="groupId == g.id"
          >
          {{ g.name }}
        </a>
      </div>
  </div>
  <div class="col-6">
    <div class="list-group" >
        <a
          class="list-group-item list-group-item-action"
          [class.active]="!categoryId"
          routerLink="/"
          *ngIf = "groupId"
          [queryParams]="{group:groupId}"
          >All Categories</a>
          <ng-container *ngIf = "groupId">
            <a *ngFor="let c of categories$ | async" 
            routerLink="/"
            [queryParams]="{ group: c.groupId,category: c.id }"
            class="list-group-item list-group-item-action"
            [class.active]="categoryId == c.id"
            >
            {{ c.name }}
          </a>
          </ng-container>
       
      </div>
  </div>
</div>


  
  
  
