<html>
  <head>
  </head>
  <body>
    <div *ngIf="product.name" class="card">
      <div class="row">
        <div class="image col-6">
          <div style="text-align: center;">
            <img *ngIf="product.imageId" style="max-width: 110px;" class="card-img-top" src="http://localhost:8084/product/image/{{product.id}}"
            alt="{{ product.name }}">
          </div>
        </div>
    
        <div class="card-body col-6">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">Description: {{ product.description }}</p>
          <p class="card-text">Price: {{ product.price | currency:'RON':"symbol" }}</p>
        </div>
      </div>
      <div *ngIf="showActions" class="card-footer">
        <modal [product]=product></modal>
      </div>
    </div>
  </body>
</html>

