.image{
    /* max-width: 100%;
    height: auto; */

}
.card-img-top{
    max-height: 80px;
}
a{
    width: 50%; 
}
.card-footer{
    text-align: center;
}
 .card{
    min-width: 10%;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
} 