<h1>Group shopping cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <div class="container">
        <!-- <div class="row">
            <div class="col">Product</div>
            <div class="col">Extra</div>
            <div class="col">Quantity</div>
            <div class="col">Price</div>
        </div> -->
        <p>user: 1</p>
        <div class="row" *ngFor="let item of cart.items">
          
            <unmodifiable-shopping-item [item]="item"></unmodifiable-shopping-item>

        </div>
        <div class="row">
            <button (click)="payOrder()" routerLink="/group-cart" class="btn btn-success btn-block">Pay order</button>
        </div>
    </div>

</ng-container>